<div class="container"  style="text-align:center">
 
    <h2>
      AboutUs
    </h2>
    <br>
 
    <p>
      This app is created by Umar Mukhtar & Ali Hafeez
    </p>
    <br>
    <br>
    <br>
    <!--Facebook-->
<button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
<!--Twitter-->
<button type="button" class="btn btn-tw"><i class="fab fa-twitter pr-1"></i> Twitter</button>
<!--Google +-->
<button type="button" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i> Google +</button>

  </div>
